@font-face {
  font-family: 'Metropolis'; /* Name your font family */
  src: url('../fonts/metropolis/Metropolis-Regular.otf'); /* Locate the .ttf file within your directory*/
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: inherit;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  width: auto;
  align-items: center;
  background-color: #000000;
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 0px;
  justify-content: flex-start;
  overflow: visible;
  padding: 0;
  position: relative;
  font-family: 'Metropolis', sans-serif;
}

h2 {
  font-family: sans-serif;  
  font-size: 5.625rem;
  font-weight: 700;
  letter-spacing: -2.3px;
  line-height: 80px;
  text-align: center;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  margin: 0px;
  padding: 0px;
}

article video {
  height: 500px;
  width: 285px;
}

section {
  padding: 2.5rem 0;
}

.section-info {
  align-content: flex-start;
  align-items: flex-start;
  display: flex;
  flex: none;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 56px;
  height: min-content;
  justify-content: center;
  overflow: visible;
  padding: 140px 40px 0;
  position: relative;
  width: 100%;
  z-index: 1;
}

.section-data {
  align-content: flex-end;
  display: flex;
  flex: none;
  flex-direction: row;
  flex-wrap: nowrap;
  height: min-content;
  justify-content: space-between;
  overflow: hidden;
  padding: 0;
  position: relative;
  width: 100%;
}

.section-title {
  /* align-items: flex-start; */
  display: flex;
  flex: 1 0 0px;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 10px;
  height: min-content;
  justify-content: center;
  overflow: visible;
  padding: 0;
  position: relative;
}

.section-title-line-1 {
  align-content: center;
  align-items: center;
  display: flex;
  flex: none;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 20px;
  height: min-content;
  justify-content: center;
  overflow: hidden;
  padding: 0;
  position: relative;
  width: min-content;
}

.section-title-line-1 div {
  display: contents;
}

.section-title-line-1 div div {
  outline: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-shrink: 0;
  will-change: transform;
  opacity: 1;
  transform: perspective(1200px);
  flex: none;
  height: auto;
  overflow: visible;
  position: relative;
  white-space: pre;
  width: auto;
}

.section-title-line-2 {
  align-items: center;
  display: flex;
  flex: none;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 20px;
  height: min-content;
  justify-content: center;
  overflow: hidden;
  padding: 0;
  position: relative;
  width: min-content;
}

.section-title-line-2 div {
  display: contents;
}

.section-title-line-2 div div {
  outline: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-shrink: 0;
  will-change: transform;
  opacity: 1;
  transform: perspective(1200px);
  flex: none;
  height: auto;
  overflow: visible;
  position: relative;
  white-space: pre;
  width: auto;
}

.section-description {
  align-content: center;
  align-items: center;
  display: flex;
  flex: 1 0 0px;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 10px;
  height: min-content;
  justify-content: flex-end;
  padding: 0;
  position: relative;
}

.section-description div {
  outline: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-shrink: 0;
  opacity: 1;
  transform: perspective(1200px);
  flex: 1 0 0px;
  height: auto;
  position: relative;
  width: 1px;
  word-break: break-word;
  word-wrap: break-word;
}

.section-description div p {
  font-family: 'Metropolis', sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 0.4px;
  line-height: 34px;
  color: rgb(255, 255, 255);
  margin: 0px;
  margin-bottom: 2.5rem;
  padding: 0px;
}

/* noise */
.random {
  -webkit-filter: blur(80px);
  filter: blur(80px);
  flex: none;
  height: 480px;
  left: calc(50.00000000000002% - 84.66666666666667% / 2);
  overflow: visible;
  position: fixed;
  top: calc(50.00000000000002% - 480px / 2);
  width: 85%;
}

.random div {
  flex: none;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.random div div {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgb(20, 20, 20);
  transform: translateZ(0);
  border-radius: 0;
  position: relative;
}

#one canvas {
  width: 100%;
  height: 100%;
  position: absolute;
  pointer-events: none;
}

.random-2 {
  flex: none;
  height: 100vh;
  left: calc(50.00000000000002% - 100% / 2);
  position: fixed;
  top: 0;
  width: 100%;
}

.random-2 div {
  width: 100%;
  height: 100%;
  background-size: 128px;
  background-repeat: repeat;
  background-image: url(../images/background.png);
  opacity: 0.075;
  border-radius: 0;
}

.random-3 {
  display: contents;
}

.random-3 > div {
  opacity: 1;
  transform: perspective(1200px);
  flex: none;
  height: auto;
  position: relative;
  width: 100%;
  z-index: 1;
}

.random-3 > div > div {
  display: contents;
}

.random-3 nav {
  background-color: rgba(255, 255, 255, 0);
  width: 100%;
  opacity: 1;
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 0px;
  justify-content: center;
  overflow: hidden;
  padding: 0;
  position: relative;
}

.random-3 nav > div {
  opacity: 1;
  align-content: center;
  align-items: center;
  display: flex;
  flex: 1 0 0px;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  max-width: 1080px;
  overflow: visible;
  padding: 30px 32px;
  position: relative;
  width: 1px;
}

.random-3 nav > div > div {
  opacity: 1;
  align-content: center;
  align-items: center;
  display: flex;
  flex: 1 0 0px;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  overflow: visible;
  padding: 0;
  position: relative;
  width: 1px;
}

/* logo */

.logo {
  align-content: center;
  align-items: center;
  display: flex;
  flex: none;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 20px;
  /* height: min-content; */
  justify-content: center;
  overflow: visible;
  padding: 0;
  position: relative;
  /* width: min-content; */
  opacity: 1;
}

.logo a {
  opacity: 1;
  flex: none;
  overflow: visible;
  position: relative;
  text-decoration: none;
  width: 42px;
  color: white;
}

.logo img {
  width: 65px;
}


/* navigation menu */
.menu {
  opacity: 1;
  transform: perspective(1200px);
  align-content: center;
  align-items: center;
  display: flex;
  flex: none;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 16px;
  /* height: min-content; */
  justify-content: flex-end;
  overflow: hidden;
  padding: 0;
  position: relative;
  /* width: min-content; */
  list-style: none;
}

.touch {
  opacity: 1;
  cursor: pointer;
  flex: none;
  height: auto;
  position: relative;
  width: auto;
}

.touch a {
  border: 1px solid rgba(255, 255, 255, 0.15);
  background-color: rgb(20, 20, 20);
  border-radius: 37px;
  box-shadow: rgba(47, 43, 67, 0.1) 0px -1px 0px 0px inset,
    rgba(47, 43, 67, 0.1) 0px 1px 3px 0px;
  opacity: 1;
  padding: 4px 14px;
  align-content: center;
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 8px;
  /* height: min-content; */
  justify-content: center;
  overflow: hidden;
  padding: 12px 20px;
  position: relative;
  text-decoration: none;
  /* width: min-content; */
}

.menu a {
  opacity: 1;
  align-content: center;
  align-items: center;
  display: flex;
  flex: none;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 10px;
  /* height: min-content; */
  justify-content: center;
  overflow: visible;
  padding: 12px;
  position: relative;
  text-decoration: none;
  /* width: min-content; */
  outline: none;
  color: white;
}

/* hero section */
.hero {
  align-content: center;
  align-items: center;
  display: flex;
  flex: none;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 48px;
  height: 55vh;
  justify-content: center;
  max-width: 1080px;
  overflow: visible;
  padding: 48px 32px;
  position: relative;
  width: 100%;
}

.hero > div {
  align-content: center;
  align-items: center;
  display: flex;
  flex: 1 0 0px;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 32px;
  height: min-content;
  justify-content: center;
  overflow: visible;
  padding: 0;
  position: relative;
  width: 1px;
  z-index: 1;
}

.hero > div > div {
  align-items: center;
  display: flex;
  flex: none;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 24px;
  height: min-content;
  justify-content: center;
  overflow: visible;
  padding: 0;
  position: relative;
  width: 100%;
}

.biozid-dp {
  align-content: center;
  align-items: center;
  display: flex;
  flex: none;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 10px;
  height: min-content;
  justify-content: center;
  overflow: visible;
  position: relative;
  width: 100%;
}

.biozid-dp > div {
  opacity: 1;
  transform: perspective(1200px);
  border-radius: 20px;
  flex: none;
  height: 108px;
  overflow: visible;
  position: relative;
  width: 108px;
  z-index: 1;
}

.biozid-dp > div > div {
  border-radius: 60px;
  flex: none;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  will-change: none, transform;
  z-index: 0;
}

.biozid-dp > div > div > div {
  position: absolute;
  border-radius: inherit;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.biozid-dp img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  object-position: center;
  object-fit: cover;
}

.heading {
  outline: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  opacity: 1;
  transform: perspective(1200px);
  flex: none;
  height: auto;
  min-width: 300px;
  position: relative;
  width: 100%;
  word-break: break-word;
  word-wrap: break-word;
  color: #e6e6e6;
}

.heading h1 {
  font-size: 5.25rem;
  font-style: normal;
  letter-spacing: -0.03em;
  line-height: 1.2em;
  text-align: center;
  color: rgb(230, 230, 230), rgba(0, 0, 0, 0.75);
  text-decoration: none;
  text-transform: none;
  font-weight: 800;
  -webkit-text-stroke-width: initial;
  -webkit-text-stroke-color: initial;
}

.heading h1 span {
  background-image: radial-gradient(
    61% 200% at 39.7% 21.9%,
    rgb(255, 255, 255) 0%,
    rgba(0, 0, 0, 0.35) 100%
  );

  display: inline-block;
  background-clip: text;
  /* padding: max(0em, calc(calc(1.3em - 1.2em, 1.3em) / 2));
  margin: min(0em, calc(calc(1.3em - 1.2em, 1.3em) / -2)); */
}

 .profile-info {
  outline: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  opacity: 1;
  transform: perspective(1200px);
  flex: none;
  height: auto;
  max-width: 1000px;
  min-width: 200px;
  position: relative;
  width: 100%;
  word-break: break-word;
  word-wrap: break-word;
}

.hero div div .profile-info p {
  text-align: center;
  color: rgb(179, 194, 203);
  font-family: "Inter Tight", "Inter Tight Placeholder", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0px;
  line-height: 1.4em;
  text-align: center;
  -webkit-text-stroke-width: initial;
  -webkit-text-stroke-color: initial;
  font-feature-settings: initial;
} 

.hero .glow-on-hover {
  width: 140px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.glow-on-hover:before {
  content: "";
  background: linear-gradient(
    45deg,
    /* #ff0000, */ #ff7300,
    /* #fffb00, #48ff00, #00ffd5, */ #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000;
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.glow-on-hover a {
  text-decoration: none;
  color: white;
}

/* intro-video */

.intro-video {
  opacity: 1;
  will-change: transform;
  transform: perspective(1200px);
  align-items: center;
  display: flex;
  flex: none;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 10px;
  justify-content: center;
  overflow: hidden;
  padding: 0;
  position: relative;
  width: 100%;
  z-index: 1;
}

#intro-video {
  width: 880px;
  height: auto;
  aspect-ratio: 1.8/1;
}

/* image-1 */
.image-1 {
  opacity: 1;
  will-change: transform;
  transform: perspective(1200px);
  align-items: center;
  display: flex;
  flex: none;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 10px;
  height: 100vh;
  justify-content: center;
  overflow: hidden;
  padding: 0;
  position: relative;
  width: 100%;
  z-index: 1;
}

.image-1 div {
  align-items: center;
  display: flex;
  flex: none;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 10px;
  height: 100%;
  justify-content: center;
  overflow: hidden;
  padding: 0 20px;
  position: relative;
  width: 100%;
}

.image-1 div div {
  cursor: none;
  display: contents;
}

.image-1 div div div {
  will-change: transform;
  opacity: 1;
  transform: translateY(180px);
  bottom: -480px;
  flex: none;
  left: calc(50.00000000000002% - 102.84722222222223% / 2);
  overflow: hidden;
  position: absolute;
  top: -296px;
  width: 103%;
  z-index: 1;
}

.image-1 div div div .background-image-wrapper {
  position: absolute;
  border-radius: inherit;
  inset: 0px;
}

.image-1 div div div .background-image-wrapper img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  object-position: center center;
  object-fit: cover;
}

/* featured and expertise*/
.featured,
.expertise,
.contact {
  align-items: center;
  display: flex;
  flex: none;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 45px;
  height: min-content;
  justify-content: center;
  overflow: hidden;
  padding: 0;
  position: relative;
  width: 100%;
}

.featured .featured-work {
  align-items: center;
  display: flex;
  flex: none;
  flex-wrap: wrap;
  gap: 30px;
  height: min-content;
  justify-content: center;
  overflow: hidden;
  padding: 0 25px;
  position: relative;
  width: 100%;
  z-index: 1;
}

.featured .featured-work:hover {
  transform: scale(1);
}

.featured-work-title {
  font-size: 4rem;
  margin-top: 2rem;
  font-family: sans-serif;
}

.featured .featured-work article {
  width: 30%;
  color: white;
  border-radius: 20px;
  box-shadow: inset 0 0 0.5px 1px hsla(0, 0%, 100%, 0.075),
    /* shadow ring 👇 */ 0 0 0 1px hsla(0, 0%, 0%, 0.05),
    /* multiple soft shadows 👇 */ 0 0.3px 0.4px hsla(0, 0%, 0%, 0.02),
    0 0.9px 1.5px hsla(0, 0%, 0%, 0.045), 0 3.5px 6px hsla(0, 0%, 0%, 0.09);
}

.featured .featured-work article video, iframe {
  width: 100%;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  box-shadow: inset 0 0 0.5px 1px hsla(0, 0%, 100%, 0.075),
    /* shadow ring 👇 */ 0 0 0 1px hsla(0, 0%, 0%, 0.05),
    /* multiple soft shadows 👇 */ 0 0.3px 0.4px hsla(0, 0%, 0%, 0.02),
    0 0.9px 1.5px hsla(0, 0%, 0%, 0.045), 0 3.5px 6px hsla(0, 0%, 0%, 0.09);
}

.featured .featured-work article .work-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(10, 10, 10);
  padding: 2rem;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  box-shadow: inset 0 0 0.5px 1px hsla(0, 0%, 100%, 0.075),
    /* shadow ring 👇 */ 0 0 0 1px hsla(0, 0%, 0%, 0.05),
    /* multiple soft shadows 👇 */ 0 0.3px 0.4px hsla(0, 0%, 0%, 0.02),
    0 0.9px 1.5px hsla(0, 0%, 0%, 0.045), 0 3.5px 6px hsla(0, 0%, 0%, 0.09);
}

.featured .featured-work article .work-details .name {
  font-family: 'Metropolis', sans-serif;
  font-size: 1.25rem;
  font-weight: 600;
  letter-spacing: 0px;
  line-height: 28px;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
}

.featured .featured-work article .work-details .date {
  border: 1px solid rgb(31, 31, 31);
  backdrop-filter: blur(20px);
  background-color: rgb(10, 11, 11);
  border-radius: 60px;
  opacity: 1;
  padding: 10px 20px;
}

#short-form-work article, #real-estate-work article {
  box-shadow: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

#real-estate-work article {
  width: 20%;
}

#short-form-work video, #real-estate-work video{
  height: 500px;
  width: 285px;
}

/* skill */
.skill,
.job {
  color: rgb(255, 255, 255);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.skill {
  width: 80%;
}

.skill article,
.job article {
  width: 30%;
  border: 1px solid #1d1d1d;
  border-radius: 10px;
  background-color: #0a0a0a;
  padding: 1.5rem 2rem;
  line-height: 1.2;
}

.skill h3,
.job h3 {
  font-size: 2.25rem;
  margin: 1rem 0;
}

.job h4 {
  font-size: 1.8rem;
  line-height: 2;
}

.skill p,
.job-info {
  font-family: 'Metropolis', sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.4px;
}

/* motivation section */
.signature {
  width: 200px;
}

/* contact */
.contact {
  padding-bottom: 12.5rem;
}

.contact .cta {
  border: 2px solid white;
  border-radius: 100px;
  opacity: 1;
  background-color: rgb(255, 255, 255);
  color: #000;
  font-weight: bolder;
  font-size: 20px;
  padding: 1rem 1.6rem;
  display: block;
  margin: 4rem auto;
  cursor: pointer;
}

#cta-heading1 {
  font-size: 1.5rem;
  letter-spacing: 1px;
}

#cta-heading2 {
  font-size: 5.625rem;
}

#cta-copy {
  width: 40%;
  margin: 1rem auto;
  text-align: center;
}

@media only screen and (max-width: 1200px) {
  .section-data {
    flex-direction: column;
    gap: 4.5rem;
  }
}

@media only screen and (max-width: 600px) {
  .hero {
    height: 70vh;
  }
  .heading h1 {
    font-size: 3.4rem;
  }
  .featured .featured-work article {
    width: 100%;
  }
  h2 {
    font-size: 3rem;
  }
  .skill h3,
  .job h3 {
    font-size: 1.8rem;
  }

  .job h4 {
    font-size: 1.4rem;
  }

  .skill p,
  .job-info {
    font-size: 1.2rem;
  }
}



/* back to top */
.back-to-top {
  position: fixed;
  bottom: 40px;
  right: 40px;
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border-radius: 50px;
  text-decoration: none;
  font-size: 16px;
  display: none;
  transition: all 0.3s ease;
}

.back-to-top:hover {
  background-color: #555;
}

.back-to-top.show {
  display: block;
}